<mat-toolbar>
    <span>To Do Form</span>
</mat-toolbar>

<div class="TO-DO-FORM">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width textarea" appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>