<mat-toolbar>
    <span>To Do Form</span>
</mat-toolbar>

<div class="TO-DO-FORM">
    <form class="example-form" [formGroup]="taskForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Task Name</mat-label>
            <input matInput placeholder="Enter task name" formControlName="taskName">
        </mat-form-field>
        <mat-error *ngIf="taskForm.controls['taskName'].hasError('required') && taskForm.controls['taskName'].touched" class="form-error-msg">Task Name is required</mat-error>
        <mat-form-field class="example-full-width textarea" appearance="fill">
            <mat-label>Task Description</mat-label>
            <textarea matInput placeholder="Enter task description" formControlName="taskDescription"></textarea>
        </mat-form-field>
        <mat-error *ngIf="taskForm.controls['taskDescription'].hasError('required') && taskForm.controls['taskDescription'].touched" class="form-error-msg">Task Description is required</mat-error>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Repeating Task</mat-label>
            <mat-select formControlName="repeatTask">
                <mat-option *ngFor="let task of tasks" [value]="task.value">
                    {{task.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="taskForm.controls['repeatTask'].hasError('required') && taskForm.controls['repeatTask'].touched" class="form-error-msg">Repeating Task is required</mat-error>
    </form>
</div>