<mat-toolbar>
    <mat-icon>menu</mat-icon>
    <span>To Do Task</span>
</mat-toolbar>
<div class="data-container">
    <div class="right-section">
        <app-to-do></app-to-do>
    </div>
    <div class="left-section">
        <div class="left-upper-section">
            <app-to-do-list></app-to-do-list>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cum numquam optio magnam eveniet placeat sit accusamus veritatis et temporibus.
        </div>
        <div class="left-lower-section">
            <app-done-list></app-done-list>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet enim adipisci beatae provident commodi quisquam tempore in quos consectetur?
        </div>
    </div>
</div>